{{template "top" .}}
{{if len .Tags}}
<h2>{{.Title}}</h2>
<p>{{.Description}}</p>
<p>{{.Body}}</p>
Tags:
<ul>
{{range .Tags}}
    <li>{{.}}</li>
{{end}}
</ul>
{{else}}
<!-- no posts -->
{{end}}
{{template "bottom" .}}
